body {
    font-family: 'Source Serif Pro', serif;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    max-width: 1200px;
    border-top: 5px solid #a7c353;
    color: #666;
}

/* NAVIGATION */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a7c353;
}

.navbar-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.navbar-buttons li {
list-style-type: none;
}

.navbar-buttons a {
    display: block;
    text-decoration: none;
    color: #666;
    font-weight: 300;
    padding: 45px 20px;
}

.navbar-buttons a:hover {
    background-color:#a7c353;
    color: #eee;
}

/* SLIDER */

.slider-section {
    border-bottom: 1px solid #c0c0c0;
    height: 400px;
}

.slider {
    width: 920px;
    height: 350px;
    margin: 20px auto;

    overflow: hidden;
}

.slider-line {
    width:3680px;
    height:350px;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider-line img {
    width:920px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -220px;
    margin: 0 150px;
}

.btn-container button {
    margin: 5px;
    padding: 7px 15px;
    font-weight: 700;
    font-size: 30px;
    outline: none;

    background-color: #000;
    color: #a7c353;
    border: 3px solid #a7c353;
    border-radius: 50%;
}

.btn-container button:hover {
    cursor: pointer;
}

.btn-container button:active {
    color: #000;
    transition: .2s;
}

/* SLIDER TEXT */

.slider-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    position: relative;
    top: -220px;
    right: 200px;
}

.slider-text div {
    width: 350px;
    padding: 10px 0;
}

.slider-text div p {
    margin: 0;
}

.slider-title {
    font-size: 22px;
    text-align: center;
    color: #fff;
    background-color: #a7c353;
}

.slider-content-text {
    font-size: 13px;
    background-color: #fff;
    margin-top: 5px;
}

.slider-content-text p {
    padding-left: 20px;
}

/* MAIN CONTENT */

.content-container {
    display: flex;
    justify-content: space-between;
}

.content-container > div {
    height: 510px;
    width: 280px;
}

.content-column-title {
    font-size: 22px;
}

.about-us-img img {
    height: 140px;
    width: 270px;
    padding: 0 5px;
}

.about-us-text p{
font-size: 13px;
}


.service-img img {
    height: 64px;
    width: 64px;
    margin-right: 10px;
}

.service {
    display: flex; 
    margin-bottom: 8px;
}

.service-text-title {
    font-size: 14px;
    margin: 0;
}

.service-text-content {
    font-size: 13px;
    margin: 5px 0;
}

.comment-title {
    display: flex;
    align-items: center;
}

.client-name {
    margin: 0 15px;
}

.non-bold {
    font-weight: 350;
}

.comment-content p {
    font-size: 13px;
    margin-top: 5px;
}

.single-comment:nth-child(3) {
    margin-top: 30px;
}

.content-more-btn {
    text-decoration: none;
    color:#a7c353;
    font-size: 13px;
    float: right;
}

.content-more-btn:hover {
    color: #666;
}

/* FOOTER */

.footer-section {
    background-color: #313131;
    color: #c0c0c0;
    font-size: 12px;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-between;
}

.footer-section > div {
    width: 225px;
    padding: 5px;
}

.footer-section p {
    margin: 5px 0;
}

.footer-column-header {
    border-bottom: 1px solid #444;
}

.footer-column-header h4 {
margin-top: 25px;
font-size: 14px;
}

.company-details > div {
    margin-top: 20px;
}

.green-text {
    color: #a7c353;
}

.company-open-hours h6 {
    font-size: 13px;
    margin: 5px 0;
}

.stay-social-pair {
    display: flex;
    align-items: center;

    padding: 10px 0 5px 0;
    border-bottom: 1px solid #444;
}

.social-btn {
    text-decoration: none;
    color:#a7c353;
    font-size: 13px;
    margin-left: 10px;
}

.social-btn:hover {
    color: #666;
}

.single-blog-content {
    margin-bottom: 30px;
}

.blog-title h6 {
    font-size: 13px;
    margin: 15px 0 5px 0;
}

.blog-title p {
    font-size: 11px;
}

.form {
    margin-top: 10px;
}

.input {
    background-color: #383838;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
    width: 215px;
    font-family: 'Source Serif Pro', serif;
}

.input-message {
    padding-bottom: 80px;
}

.submit-btn {
    padding: 7px 12px;
    background-color: #a7c353;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;

    font-weight: 700;
    font-family: 'Source Serif Pro', serif;
    color: #313131;
}

.submit-btn:hover {
cursor: pointer;
}

.submit-btn:active {
    color: #a7c353;
    background-color: #313131;
    transition: .2s;
}

::placeholder {
    color: #c0c0c0;
}

.copyright {
    display: flex;
    justify-content: space-between;

    background-color: #313131;
    color: #c0c0c0;
    font-size: 14px;
    padding: 10px 5px;
}

.right {
    align-self:flex-end;
}

